.error-text {
    border: none;
    padding: 10px;
    color: red;
    padding-top: 0px;
}

.elem-bottomSpace {
    margin-bottom: 10px;
}
.slider .slider-pager{
	bottom:15px;
}
.glo-bg{
	background: #FB2121 !important;
	color: white !important;
	border:none;
}
.bar-stable .button.button-clear,.basic-col{
	color: #FB2121;
}
