<ion-view cache-view="false">
<ion-pane>
<ion-side-menus enable-menu-with-back-views="true" class="glo-bg">
    <ion-side-menu-content  drag-content="false">
        <ion-nav-bar class="bar-stable basic-col">
            <ion-nav-buttons side="left">
                <button tour-step="1" tour-on-leave="openMenuLeft" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuDynamic" nav-transition="ios" nav-direction="exit" nav-view-direction="exit" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu delegate-handle="leftHandle" side="left" class="glo-bg">
        <ion-header-bar class="glo-bg">
            <h1 class="title glo-bg">Menu</h1>
        </ion-header-bar>
        <ion-content class="has-header" >
            <ion-list>
                <ion-item menu-close ng-click="loadFirstMenu()" class="glo-bg">Sign Up</ion-item>
                <ion-item menu-close ng-click="loadSecondMenu()" class="glo-bg" tour-step="2" tour-on-leave="closMenuLeft">Grid</ion-item>
                <ion-item menu-close ng-click="loadThirdMenu()" class="glo-bg">Forgot Pwd</ion-item>
                <ion-item menu-close ng-click="signout()" class="glo-bg">Sign out</ion-item>
               <!--  <ion-item>Item3</ion-item>
                <ion-item>Item4</ion-item>
                <ion-item>Item5</ion-item>
                <ion-item>Item6</ion-item>
                <ion-item>Item7</ion-item>
                <ion-item>Item8</ion-item>
                <ion-item>Item9</ion-item>
                <ion-item>Item10</ion-item> -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
</ion-pane>
</ion-view>
