<ion-view cache-view="false">
    <ion-nav-bar class="bar-stable basic-col">
        <ion-nav-title class="basic-col">
            Login
        </ion-nav-title>
    </ion-nav-bar>
    <ion-pane>
        <ion-content scroll="false">
            <form name="loginForm" novalidate>
                <div style="margin:0 auto;width:100%;position:absolute;top:50%;transform:translateY(-50%);padding: 15% 10%;">
                    <div class="list" style="margin-bottom:10px;">
                        <div class="item item-input-inset" style="margin-bottom:12px;">
                            <label class="item-input-wrapper">
                                <input type="email" placeholder="Email" ng-model="loginController.email" id="email" name="email" required>
                            </label>
                        </div>
                        <div class="item error-text" ng-if="loginForm.email.$invalid && !loginForm.email.$pristine">
                            <label>
                                Enter valid Email
                            </label>
                        </div>
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="password" placeholder="Password" ng-model="loginController.pwd" id="pwd" required>
                            </label>
                        </div>
                        <div class="item error-text" ng-if="loginForm.pwd.$invalid && !loginForm.pwd.$pristine">
                            <label>
                                Enter valid Password
                            </label>
                        </div>
                    </div>
                    <ion-toggle ng-model="loginController.isRemembered" toggle-class="toggle-calm" style="border:none;">Remember Password</ion-toggle>
                    <button class="button button-clear button-positive" style="border-bottom:1px solid #387ef5;min-height:30px;line-height:15px;padding:0px;" ng-click="loginController.loadforgotPwd()">
                        Forgot Password ?
                    </button>
                    <button class="button button-clear button-positive" style="border-bottom:1px solid #387ef5;min-height:30px;line-height:15px;float:right;padding:0px;" ng-click="loginController.loadSignUp()">
                        Sign Up
                    </button>
                    <button class="button button-large button-positive" style="display:block;margin:0 auto;margin-top:5%;min-height:40px;line-height:40px;" ng-disabled="loginForm.$invalid" ng-click="loginController.login()">
                        Sign In
                    </button>
                </div>
            </form>
        </ion-content>
    </ion-pane>
</ion-view>
